:root{
    --ao-english: #317b22ff;
    --maximum-red: #de1a1aff;
    --rich-black-fogra-29: #0d1821ff;
    --floral-white: #fff8f0ff;
    --dark-purple: #23001eff;
    --flame: #f05d23ff;
}

/* Black */
.bg-black{
    background-color:var(--rich-black-fogra-29)!important
}
a.bg-black:focus,a.bg-black:hover,button.bg-black:focus,button.bg-black:hover{
    background-color:var(--rich-black-fogra-29)!important
}

.btn-black{
    background-color:var(--rich-black-fogra-29)
}

/* Purple */
.bg-purple{
    background-color:var(--dark-purple)!important
}
a.bg-purple:focus,a.bg-purple:hover,button.bg-purple:focus,button.bg-purple:hover{
    background-color:var(--dark-purple)!important
}




/* Floral-white */
.bg-floral-white{
    background-color:var(--floral-white)!important
}
a.bg-floral-white:focus,a.bg-floral-white:hover,button.bg-floral-white:focus,button.bg-floral-white:hover{
    background-color:var(--floral-white)!important
}

/* Flame */
.btn-flame{color:#fff;background-color:var(--flame);border-color:var(--flame)}
.btn-flame:hover{color:#fff;background-color:#D2460F;border-color:#D2460F}
.btn-flame.focus,.btn-flame:focus{color:#fff;background-color:#D2460F;border-color:#D2460F;box-shadow:0 0 0 .2rem #F0652D}
.btn-flame.disabled,.btn-flame:disabled{color:#fff;background-color:#F27340;border-color:#F27340}
.btn-flame:not(:disabled):not(.disabled).active,.btn-flame:not(:disabled):not(.disabled):active,.show>.btn-flame.dropdown-toggle{color:#fff;background-color:#99330B;border-color:#99330B}
.btn-flame:not(:disabled):not(.disabled).active:focus,.btn-flame:not(:disabled):not(.disabled):active:focus,.show>.btn-flame.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #99330B}