:root{
    --ao-english: #317b22ff;
    --maximum-red: #de1a1aff;
    --rich-black-fogra-29: #0d1821ff;
    --floral-white: #fff8f0ff;
    --dark-purple: #23001eff;
    --flame: #f05d23ff;
}

.bg-black{
    background-color:var(--rich-black-fogra-29)!important
}
a.bg-black:focus,a.bg-black:hover,button.bg-black:focus,button.bg-black:hover{
    background-color:var(--rich-black-fogra-29)!important
}

.bg-purple{
    background-color:var(--dark-purple)!important
}
a.bg-purple:focus,a.bg-purple:hover,button.bg-purple:focus,button.bg-purple:hover{
    background-color:var(--dark-purple)!important
}

.bg-floral-white{
    background-color:var(--floral-white)!important
}
a.bg-floral-white:focus,a.bg-floral-white:hover,button.bg-floral-white:focus,button.bg-floral-white:hover{
    background-color:var(--floral-white)!important
}